h1 {
  font-size: 9em;
  margin-top: 160px;
}

h2 {
  font-size: 4em;
  margin-top: 0px;
}

div#wrapper {
  background: #180c1d url("../images/bg new for resizing fade 02.jpg") no-repeat left top;
}

section#vid div {
  height: 837px;
  background-color: initial;
  width: 1488px;
  border: none;
  position: relative;
  top: 210px;
  left: 10px;
  padding-top: 50px;
}

section#vid div img {
  position: absolute;
  top: -220px;
  left: -20px;
  height: 700px;
}